<!DOCTYPE html>
<html>
   <head>
     <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

     <link rel="icon" href="/images/favicon.svg" type="image/svg+xml">

     <link href="/fontawesome/css/font-awesome.css" rel="stylesheet">

     <title>{{ nodename }} - Proxmox Datacenter Manager</title>

     <style>
       /* Avoid flickering (default background in firefox is always white)*/
       @media (prefers-color-scheme: dark ) { body { background: #333; } }
       @media (prefers-color-scheme: light) { body { background: #fff; } }
     </style>
     <script type="text/javascript">
       Proxmox = {
           Setup: { auth_cookie_name: 'PDMAuthCookie' },
           NodeName: "{{ NodeName }}",
           UserName: "{{ UserName }}",
           defaultLang: "{{ language }}",
           CSRFPreventionToken: "{{ CSRFPreventionToken }}",
       };
    </script>
     <link rel="preload" href="/js/pdm-ui_bg.wasm" as="fetch" type="application/wasm" crossorigin="">
     <link rel="modulepreload" href="/js/pdm-ui_bundle.js"></head>
   </head>
   <body>
       <script type="module">import init from '/js/pdm-ui_bundle.js';init('/js/pdm-ui_bg.wasm');</script>
   </body>
</html>
